@media all and (max-width: 1024px)
{

  :root { 
    --header-hight: 200px;
  } 

  #name {
    color: #fefae0;
    font-size: xxx-large;
  }

  span, label, a {
    font-size: xx-large;
  }

  #prestations span {
    max-width: 100%;
  }

  .hexagone {
    display: none;
  }

  .element {
    padding: 5% 5%;
  }

  #intro {
    flex-direction: column;
  }

  #description div {
    flex-direction: column;
  }

  #menu {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  #marques > img {
    width: 25%;
  } 
}


@media all and (min-width: 1024px)
{

  :root { 
    --header-hight: 100px;
  } 

  #name {
    color: #fefae0;
    font-size: x-large;
  }

  #prestations span {
    max-width: 50%;
  }

  .element {
    padding: 5% 10%;
  }

  #menu {
    display: flex;
    justify-content: space-between;
    width: 370px;
  }
  
  #marques > img {
    width: 17%;
  } 

}

:root { 
  --green-light: #606c38;
  --green-dark: #283618;
  --orange-light: #dda15e;
  --orange-dark: #bc6c25;
  --beige: #fefae0;
} 

html {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: var(--header-hight);
}

body {
  margin: 0;
  scroll-padding-top: var(--header-hight);
}

a {
  text-decoration: none;
}

#bigcontainer {
  display: flex;
  flex-direction: column;
  height: auto;
}

/************************** BANDEAU *************************/

#bandeau {
  width: 100%;
  height: var(--header-hight);
  background-color: var(--green-dark);
  text-align: center;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: solid 3px #eeeeee;
}


.hexagone {
  position: absolute;
  top: 55%;
  width: 86.60254px;
  visibility: hidden;
  overflow: hidden;
  -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.6));
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.6));
}
.hexagone:after {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  content: "";
  display: block;
  margin-top: 28.86751%;
  padding-bottom: 86.602%;
}
.hexagone .hexagonemain {
  display: block;
  position: absolute;
  width: 100%;
  padding-bottom: 115.47005%;
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  -ms-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  z-index: 1;
}
.hexagone .hexagonemainbefore {
  content: "";
  display: block;
  position: absolute;
  visibility: visible;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: white;
  -webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  -ms-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
}
.hexagone .hexagonecontent {
  overflow-y: auto;
  width: 100%;
  display: block;
  position: absolute;
  visibility: visible;
  bottom: 25%;
  top: 25%;
  left: 0;
  z-index: 3;
}
.hexagone img {
  padding-left: 1px;
  height: 85%;
  padding-top: 8px;
}

a {
  color: var(--green-light);
  font-weight: bold;
}

#menu div {
  width: 120px;
}

#menu div:nth-of-type(0) {
  text-align: right;
}

#menu div:nth-of-type(1) {
  text-align: left;
}

/************************* INTRO *************************/

#container {
  display: flex;
  height: 100%;
  margin-top: var(--header-hight);
  flex-direction: column;
  scroll-behavior: smooth;
}

#intro {
  background-color: var(--green-light);
  min-height: 25vh;
  color: var(--beige);
  display: flex;
  align-items: center;
}

#intro span {
  width: fit-content;
  align-self: center;
  margin: 5%;
  text-align: justify;
}

#intro img {
  border: solid 3px #eeeeee;
  max-width: 50%;
}

/************************* PRESTA *************************/

#prestations {
  background-color: var(--beige);
  display: flex;
  flex-direction: column;
}

#menuPresta {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  border-bottom: solid 1px var(--orange-dark);
  padding-bottom: 5px;
}

#description {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  width: 300%;
  transition: transform 0.6s ease-in-out;
}

#description img {
  max-width: 50%;
  align-self: center;
}

#cadre {
  width: 100%;
  overflow: hidden;
}

#description div {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

#prestations span {
  align-self: center;
  margin: 2%;
  text-align: justify;
}

#menuPresta label {
  cursor: pointer;
}

#menuPresta input {
  display: none;
}

#menuPresta input:checked+label {
  color: var(--orange-dark);
  font-weight: bold;
}

/************************* MARQUES *************************/
#marques {
  background-color: var(--orange-light);
  min-height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

#marques > img {
  height: auto;
  margin: 2%;
}

#marques div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
}

/************************* CONTACT *************************/

#contact {
  background-color: var(--orange-dark);
  min-height: 20vh;
  color: var(--beige);
  display: flex;
  justify-content: space-evenly;
}

#contact span {
  align-self: center;
}

iframe {
  max-width: 50%;
}